body {
    font-family: "Nunito", sans-serif;
    font-family: FontAwesome, monospace;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2;
    color: #404146;
    background-color: #F8FAFF;
}

.front-title {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;

}
.second-front-title {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    line-height: 1.5;
    margin: 0 0 1.5em;
}
span.table-number-text {
    font-weight: 200;
}
span.table-content-text {
    font-size: 28px;
}
span.price-text {
    font-size: 28px;
    font-weight: 600;
}
span.dimension-text {
    font-size: 18px;
    font-weight: 200;
}

#service-subjects-table tbody {
    /*background-color: #34314c;*/
    /*font-weight: 200;*/
    color: #34314c;
    /*letter-spacing: -1px;*/
}
#service-subjects-table thead th {
    background-color: #34314c;
    font-weight: 200;
}
