body {
    font-family: "Nunito", sans-serif;
    font-family: FontAwesome, monospace;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.2;
    color: #404146;



    /*font-size: 1rem;*/
    /*font-weight: 100;*/
    /*line-height: 1;*/
}

.front-title {
    font-size: 3em;
    margin: 0.75em auto;

}
span.table-number-text {
    font-weight: 200;
}
span.table-content-text {
    font-size: 28px;
}
span.price-text {
    font-size: 28px;
    font-weight: 600;
}
span.dimension-text {
    font-size: 18px;
    font-weight: 400;
}

#service-subjects-table tbody {
    /*background-color: #34314c;*/
    /*font-weight: 200;*/
    color: #34314c;
}
#service-subjects-table thead th {
    background-color: #34314c;
    font-weight: 200;
}
